.intro {
  background-color: white;
  display: flex;

  .left {
    flex: 0.5;
    overflow: hidden;
    // background-color: black;

    .imageContainer {
      width: 700px;
      height: 700px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 80%;
        border-radius: 30px;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 60px;
        margin: 10px 0;
      }

      h2 {
        font-size: 35px;
      }

      h3 {
        font-size: 30px;

        span {
          font-size: inherit;
          color: #390b94;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      .logo {
        font-size: 50px;
        color: black;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
